{% extends 'base.html.twig' %}

{% block title %}Ajouter une intervention{% endblock %}

{% block body %}
    <h1>Ajouter/Modifier une intervention pour l'instrument </h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}