{% extends 'base.html.twig' %}

{% block title %}Ajouter un professionnel{% endblock %}

{% block body %}
    <h1>Ajouter un professionnel </h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}