{% extends 'base.html.twig' %}

{% block title %}Professeur Ajouter/Modifier !{% endblock %}

{% block body %}

    <h1>Ajout/Modification Professeur</h1>
    {{ form_start(form) }}

    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}